<!-- If the user is logged in, render the painting content -->
{{!-- {{#if loggedIn}} --}}
<section class="cars">
  {{#each cars}}
  {{!-- if image_name  --}}
  <img src="/images/{{image_name}}" alt="{{make}} {{model}}">
  {{!-- else
  <img src={{image_link}} alt="{{make}} {{model}}"> --}}
  <div class="car-details">
    <h3>{{make}} {{model}}</h3>
    <p>Year: {{year}}</p>
    <p>Mileage: {{mileage}}</p>
    <p>Price: ${{price}}</p>
    <p>Condition: {{condition}}</p>
  </div>
  {{/each}}
</section>
<!-- Otherwise, provide a link to login -->
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}